@page "/login"
@using System.ComponentModel.DataAnnotations
@using DB.Models
@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient Http

<EditForm Model="@_loginModel" OnValidSubmit="HandleValidSubmit" FormName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @* <InputText id="username" @bind-Value="loginModel.Username" placeholder="Username" /> *@
    <InputText id="username" @bind-Value="_loginModel.Username" />
    <InputText id="password" @bind-Value="_loginModel.Password" type="password" placeholder="Password" />

    <button type="submit">Log in</button>
</EditForm>

@code {
    private LoginModel _loginModel = new LoginModel();

    private async Task HandleValidSubmit()
    {
        Console.WriteLine("Submitting login form");
        Console.WriteLine(_loginModel.Username);
        Console.WriteLine(_loginModel.Password);
        // var response = await Http.PostAsJsonAsync("api/Auth/Login", _loginModel);

        // if (response.IsSuccessStatusCode)
        // {
            // Handle successful login, e.g. redirect to admin page
        // }
        // else
        // {
        //     // Handle failed login, e.g. show error message
        // }
    }
}