@using HockeyStatsTracker.Services
@inject AuthService _authService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hockey Stats Tracker</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi" aria-hidden="true"></span> Team standings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="matches">
                <span class="bi" aria-hidden="true"></span> Matches
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="players">
                <span class="bi" aria-hidden="true"></span> Player stats
            </NavLink>
        </div>

        @if (_authService.adminLoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="edit/matches">
                    <span class="bi" aria-hidden="true"></span> Edit matches
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="export">
                    <span class="bi" aria-hidden="true"></span> Export data
                </NavLink>
            </div>
        }
    </nav>
</div>
